# MONGODB_URL = mongodb URL
# DB_NAME = database name


# JWT_SECRET = jwt secret
# NEXTAUTH_URL= next auth url (http://localhost:3000 or your domain)


# GOOGLE_CLIENT_ID = Google client id
# GOOGLE_CLIENT_SECRET = Google client secret


# MAIL_HOST = mail host (smtp.gmail.com)
# MAIL_USER = mail user
# MAIL_PASS = mail password

# NEXT_PUBLIC_SAAVN_API = "https://saavn.dev" # Saavn API URL create your own API from https://github.com/sumitkolhe/jiosaavn-api 

MONGODB_URL = "mongodb+srv://ayaan:ayaan@123@cluster0.1cloxen.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
DB_NAME = "MiniProject2"

JWT_SECRET = "e3f9a60c79f243ee8d9b0a13c9c716dbb41f4c3d2579a9d2b4a9f8c15f9c0ae7"
NEXTAUTH_URL= "http://localhost:3000"


GOOGLE_CLIENT_ID = "689924398588-klvj34oe5g0f9ddq70489pe26anftno2.apps.googleusercontent.com"  
GOOGLE_CLIENT_SECRET = "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"


MAIL_HOST = mail host (smtp.gmail.com)
MAIL_USER = mail user (your gmail address)
MAIL_PASS = mail password (google app password)

NEXT_PUBLIC_SAAVN_API = "https://saavn.dev" 